<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beloved.omnicoreauthorizationserver.mapper.AuthoritiesMapper">
    <resultMap id="BaseResultMap" type="com.beloved.omnicoreauthorizationserver.domain.Authorities">
        <!--@mbg.generated-->
        <!--@Table authorities-->
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        username, authority
    </sql>
</mapper>